<!doctype html>
<html lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="">
  <link rel="canonical" href="{{ canonical_url }}">

  <title>{{ shop.name }}</title>

  <meta name="description" content="">

  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  {% include 'style-tags', layout: 'theme' %}
  {% include 'script-tags', layout: 'theme' %}


  {{ content_for_header }}
    {{ 'slick.css' | asset_url | stylesheet_tag }} 
    {{ 'style.css' | asset_url | stylesheet_tag }} 
</head>

<body>
  {{ content_for_layout }}

</body>
   <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</html>
